$black: #303030;
$gray: #eee;
$width: 800px;
$purple: #282458;
$yellow: rgb(255, 179, 14);
$pink: #EE7297;
$green: #93FF00;
$red: #E50714;
$grey: lighten(grey, 40%);
$shad: 0 0 10px rgba(0,0,0,0.1), 0 5px 10px rgba(0,0,0,0.05);
$grad: linear-gradient(90deg, #a026bf 0%, $red 50%, $purple 85%);
$verticalGrad: linear-gradient(90deg, #a026bf 0%, $red 50%, $purple 85%);
